.breadcrum{
    padding-top:6rem;
    display: flex;
    align-items: center;
    gap:3px;
    color: #5e5e5e;
    font-size:16px;
    font-weight:600;
    margin:0px 10px;
    text-transform:capitalize;
}
.a-link{
    display: flex;
    align-items: center;
    text-decoration:none;
    color:black;
}
.homee img{
    margin-bottom:3px;
}
.homee:hover{
    text-decoration:underline;
    color: #5e5e5e;
}
@media (max-width:631px) and (min-width:0px){
    .breadcrum {
        padding-top: 6rem;
        display: flex;
        align-items: center;
        gap: 3px;
        color: #5e5e5e;
        font-size: 3vw;
        font-weight: 600;
        margin: 0px 10px;
        text-transform: capitalize;
    }
    .a-link{
        font-size: 3vw;
    }
    .homee img {
        margin-bottom: 3px;
        
    }
    .img-hom{
        margin-top:3px;
        width:3vw;
        height:auto;
    }
}