.face{
    padding-top:7rem;
    height:100vh;
    display: flex;
    flex-direction: column;
    gap:2rem;
  
  }
  .slider-container {
  
    background-color: rgba(255, 252, 252, 0.671);
    width:100%;
    height:100%;
    margin: 0 auto;
    cursor: grab;
  }
  .dis{
    display: none;
  }
  .slick-prev:before{
    display: none !important;
  }
  .slick-next:before{
    display: none !important;
  }
  .first_border{
    position: absolute;
    display: flex;
    gap:5px;
  }
  .img_one{
    width:30vw;
    height:auto;
  }
  .img_on{
    display: none;
    width:30vw;
    height: auto;
  }
  
  .card {
    margin: 0 auto;
    height: 450px;
    width: 90%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:20px; 
    border-color: rgb(177, 178, 179); 
  }
  .face-footer{
    display: flex;
    justify-content: space-between;
    padding-top:1rem;
}
.social-media{
 margin-left:2rem;
 display: flex;
 align-items: center;
 gap:13px;
}
.social-media >p{
    font-size:14px;
}
.bj {
color: black;
width: 15px;
height: 15px;
margin-top:7px;
margin-left:10px;
}
.bj:hover{
    color: rgb(109, 96, 96);
    transform: scale(1.1);
}
.Sroll{
    align-items: end;
    justify-content: end;
    margin-right:2rem;
}
.scroll-link{
    text-decoration:none;
    color:black;
    display: flex;
    align-items: center;
}
.scroll-link:hover{
    color:rgb(122, 122, 122);
}
  @media (min-width:0px) and (max-width:600px){
    .img_on{
        display:block;
        width:30vw;
        height: auto;
    }
    .face-footer{
        display:none;
    }
  }







































