.faces{
    padding-top:7rem;
    height:100vh;
}
.short-imgs{
  display: flex;
  justify-content: center;
}
.face{
    display: flex;
    flex-direction: column;
    gap:2rem;
  
  }
  .other-images{
    display:none;
  }
  .slider-container {
    background-color: rgba(255, 252, 252, 0.671);
    width:100%;
    height:100%;
    margin: 0 auto;
    cursor: grab;
  }
  .dis{
    display: none;
  }
  .slick-prev:before{
    display: none !important;
  }
  .slick-next:before{
    display: none !important;
  }
  .first_border{
    position: absolute;
    display: flex;
    gap:5px;
  }
  .img_one{
    width:30vw;
    height:auto;
  }
  .img_on{
    width:30px;
    height:auto;
  }
  
  .card {
    margin: 0 auto;
    height: 450px;
    width: 90%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:20px; 
    border-color: rgb(177, 178, 179); 
  }
  .face-footer{
    display: flex;
    justify-content: space-between;
    padding-top:1rem;
}
.social-media{
 margin-left:2rem;
 display: flex;
 align-items: center;
 gap:13px;
}
.social-media >p{
    font-size:14px;
}
.bj {
color: black;
width: 15px;
height: 15px;
margin-top:7px;
margin-left:10px;
}
.bj:hover{
    color: rgb(109, 96, 96);
    transform: scale(1.1);
}
.Sroll{
    align-items: end;
    justify-content: end;
    margin-right:2rem;
}
.scroll-link{
    text-decoration:none;
    color:black;
    display: flex;
    align-items: center;
}
.scroll-link:hover{
    color:rgb(122, 122, 122);
}
  @media (min-width:982px) and (max-width:1048px){
    .other-images{
      display: flex;
      justify-content: center;
      gap:5px;
    }
    .img_on{
      width:90px !important;
      height:auto;
    }
    .slider-container {
      padding-top:0 !important;
      background-color: rgba(255, 252, 252, 0.671);
      width:100%;
      height:100%;
      margin: 0 auto;
      cursor: grab;
    }
    .card {
      margin: 0 auto;
      height: 370px;
      width: 90%;
      background-color: rgb(255, 255, 255);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius:20px; 
      border-color: rgb(177, 178, 179); 
    }
    
    .face-footer{
        display:none;
    }
  }
  @media (min-width:915px) and (max-width:982px){
    .other-images{
      display: flex;
      justify-content: center;
      gap:5px;
    }
    .img_on{
      width:90px !important;
      height:auto;
    }
    .slider-container {
      padding-top:0 !important;
      background-color: rgba(255, 252, 252, 0.671);
      width:100%;
      height:100%;
      margin: 0 auto;
      cursor: grab;
    }
    .card {
      margin: 0 auto;
      height: 350px;
      width: 90%;
      background-color: rgb(255, 255, 255);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius:20px; 
      border-color: rgb(177, 178, 179); 
    }
    
    .face-footer{
        display:none;
    }
  }
  @media (min-width:826px) and (max-width:915px){
    .other-images{
      display: flex;
      justify-content: center;
      gap:5px;
    }
    .img_on{
      width:90px !important;
      height:auto;
    }
    .slider-container {
      padding-top:0 !important;
      background-color: rgba(255, 252, 252, 0.671);
      width:100%;
      height:100%;
      margin: 0 auto;
      cursor: grab;
    }
    .card {
      margin: 0 auto;
      height: 326px;
      width: 90%;
      background-color: rgb(255, 255, 255);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius:20px; 
      border-color: rgb(177, 178, 179); 
    }
    
    .face-footer{
        display:none;
    }
  }
  @media (min-width:724px) and (max-width:826px){
    .other-images{
      display: flex;
      justify-content: center;
      gap:5px;
    }
    .img_on{
      width:90px !important;
      height:auto;
    }
    .slider-container {
      padding-top:0 !important;
      background-color: rgba(255, 252, 252, 0.671);
      width:100%;
      height:100%;
      margin: 0 auto;
      cursor: grab;
    }
    .card {
      margin: 0 auto;
      height: 300px;
      width: 90%;
      background-color: rgb(255, 255, 255);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius:20px; 
      border-color: rgb(177, 178, 179); 
    }
    
    .face-footer{
        display:none;
    }
  }
  @media (min-width:660px) and (max-width:724px){
    .other-images{
      display: flex;
      justify-content: center;
      gap:5px;
    }
    .img_on{
      width:90px !important;
      height:auto;
    }
    .slider-container {
      padding-top:0 !important;
      background-color: rgba(255, 252, 252, 0.671);
      width:100%;
      height:100%;
      margin: 0 auto;
      cursor: grab;
    }
    .card {
      margin: 0 auto;
      height: 260px;
      width: 90%;
      background-color: rgb(255, 255, 255);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius:20px; 
      border-color: rgb(177, 178, 179); 
    }
    
    .face-footer{
        display:none;
    }
  }
  @media (min-width:564px) and (max-width:660px){
    .faces{
      padding-top:7rem;
      height:90vh;
  }
    .other-images{
      display: flex;
      justify-content: center;
      gap:5px;
    }
    .img_on{
      width:90px !important;
      height:auto;
    }
    .slider-container {
      padding-top:0 !important;
      background-color: rgba(255, 252, 252, 0.671);
      width:100%;
      height:100%;
      margin: 0 auto;
      cursor: grab;
    }
    .card {
      margin: 0 auto;
      height: 230px;
      width: 90%;
      background-color: rgb(255, 255, 255);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius:20px; 
      border-color: rgb(177, 178, 179); 
    }
    
    .face-footer{
        display:none;
    }
  }
  @media (min-width:462px) and (max-width:564px){
    .faces{
      padding-top:7rem;
      height:90vh;
  }
    .other-images{
      display: flex;
      justify-content: center;
      gap:5px;
    }
    .img_on{
      width:90px !important;
      height:auto;
    }
    .slider-container {
      padding-top:0 !important;
      background-color: rgba(255, 252, 252, 0.671);
      width:100%;
      height:100%;
      margin: 0 auto;
      cursor: grab;
    }
    .card {
      margin: 0 auto;
      height: 190px;
      width: 90%;
      background-color: rgb(255, 255, 255);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius:20px; 
      border-color: rgb(177, 178, 179); 
    }
    
    .face-footer{
        display:none;
    }
  }
  @media (min-width:0px) and (max-width:380px){
    .faces{
      padding-top:7rem;
      height:90vh;
  }
    .other-images{
      display: flex;
      justify-content: center;
      gap:5px;
    }
    .img_on{
      width:90px !important;
      height:auto;
    }
    .slider-container {
      padding-top:0 !important;
      background-color: rgba(255, 252, 252, 0.671);
      width:100%;
      height:100%;
      margin: 0 auto;
      cursor: grab;
    }
    .card {
      margin: 0 auto;
      height: 140px;
      width: 90%;
      background-color: rgb(255, 255, 255);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius:20px; 
      border-color: rgb(177, 178, 179); 
    }
    
    .face-footer{
        display:none;
    }
  }
  @media (min-width:380px) and (max-width:462px){
    .faces{
      padding-top:7rem;
      height:94vh;
  }
    .other-images{
      display: flex;
      justify-content: center;
      gap:5px;
    }
    .img_on{
      width:90px !important;
      height:auto;
    }
    .slider-container {
      padding-top:0 !important;
      background-color: rgba(255, 252, 252, 0.671);
      width:100%;
      height:100%;
      margin: 0 auto;
      cursor: grab;
    }
    .card {
      margin: 0 auto;
      height: 160px;
      width: 90%;
      background-color: rgb(255, 255, 255);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius:20px; 
      border-color: rgb(177, 178, 179); 
    }
    
    .face-footer{
        display:none;
    }
  }
  
  


