.footer{
  width:100vw;
  height:20vh;
  background-color: black;
  color:white;
  display: flex;
  flex-direction: column;
  gap:3rem;
  margin-top:1rem;
}
.logo{
  display: flex;
  flex-direction: column;
  margin-left:2rem;
}
.ways{
  display: flex;
  align-items: center;
  gap:5rem;
  padding-top:4rem;
}
.second-way{
  display: flex;
  align-items: center;
  gap:10px;
}
.second-way>img{
  width:30px;
  height:30px;
}
.second{
  font-size:13px;
  color: #626262;
}

.third-way>a{
  text-decoration:none;
  color: #626262;
  display: flex;
  flex-direction: column;
  font-size:13px;
}
.hrr{
  
}
.other-ways{
  margin-left:2rem;
  color: #626262;
  font-size:12px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  /* padding-bottom:10px; */
    /* background-color: black; */
  /* color:white; */
}
.footer-photos{
  margin-right:4rem;
  display: flex;
  align-items: center;
  gap:1rem;
}
