.footer{
  width:100vw;  
  background-color: black;
  color:white;
  display: flex;
  flex-direction: column;
  gap:3rem;
  margin-top:1rem;
}
.logo-footer{
  display: flex;
  flex-direction: column;
  margin-left:0rem;
}
.logo h1{
  font-size:2rem;
}
.ways{
  margin-left:2rem;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding-top:4rem;
}
.two-adress{
  margin-right:5rem;
 display: flex;
 align-items: center;
 gap:3rem;
}
.second-way{
  display: flex;
  align-items: center;
  gap:10px;
}
.second-way>img{
  width:30px;
  height:30px;
}
.second{
  font-size:13px;
  color: #626262;
  display: flex;
  flex-direction: column;
  gap:5px;
}

.third-way{
  text-decoration:underline;
  color: #626262;
  display: flex;
  flex-direction: column;
  font-size:13px;
  gap:5px;
}
.other-ways{
  margin-left:2rem;
  color: #626262;
  font-size:12px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.footer-photos{
  margin-right:4rem;
  display: flex;
  align-items: center;
  gap:1rem;
}
@media (min-width:0px) and (max-width: 573px){
  body,html{
    overflow-x: hidden;
    width:100vw;
}
.footer{
  width:100vw;  
  background-color: black;
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:3rem;
  margin-top:1rem;
}
.ways{
  margin-left:0rem;
  display: flex;
  flex-direction: column;
  align-items:center;
  gap:2rem;
  justify-content:center;
  padding-top:4rem;
}
.two-adress{
 margin-right:0rem;
 display: flex;
 flex-direction: column;
 align-items:center;
 gap:3rem;
}
.second-way{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap:10px;
}
.other-ways{
  margin-left:0rem;
  color: #626262;
  font-size:12px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  gap:0.2rem;
}
.footer-photos{
  margin-right:0rem;
  display: flex;
  align-items: center;
  gap:3rem;
}
};
