.hero{
    padding:2rem;
}
.title-trend{
    text-align: center;
}
.product-items{
    display: flex;
    justify-self: center;
    align-self: center;
    gap:10rem;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    row-gap:30px;
}