#hero{
    width:100vw;
    height:40vh;
    padding-top:1.8rem;
}
.twoss{
    display: flex;
    align-items: center;
    gap:1px;
}
.slider-container{
    padding-top:3rem;
    cursor: pointer;
    /* background-color:gray; */
    height:100%;
    width:80%;
    border-radius:20px;
    margin-left:10rem;
    justify-content: center;
    align-items: center;
}
/* .trends-line{
    width:8rem;
    height:2px;
    background-color: black;
    margin-left:45%;
} */
.hero-title{
    text-align: center;
    color: rgba(0, 0, 0, 0.601);
}
.slick-prev:before{
    display: none !important;
}
.slick-next:before{
    display: none !important;
}

.slick-prev:before, .slick-next:before {
    font-size:90px !important;
    color:black !important;
    
}
.slick-dots li button{
    display:none !important;
}
.yy{
    width:12%;
    height:19%;
    margin-left:2rem;
}
.yyy{
    width:11%;
    height:11%;
}
.yy:hover,.yyy:hover{
    
}

.section-one {
    background-color: rgb(255, 250, 250);
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
  }
  
  .slider-container {
    
    background-color: rgba(255, 252, 252, 0.671);
    width: 80%;
    height: 450px;
    margin: 0 auto;
    cursor: grab;
    /* border:solid;
    border-radius:20px;
    border-color: rgb(191, 191, 191); */
  }
  
  
  .card {
    margin: 0 auto;
    height: 450px;
    width: 90%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:20px; 
    border-color: rgb(177, 178, 179); 
  }
  
  
  
.slick-slider{
    border-radius:30px !important; 
}
.slick-prev::before{
    content:'\2039' !important;
    /* background-color:black; */
    border-radius:20px;
    color:black;
    font-size:200px;
}
.slick-next::before{
    content:'\203A'!important;
    /* background-color:black; */
    

}
.slick-arrow::before{
    font-size:200rem;
    padding:10px; 
    border-radius:10px;
}
.slick-slider{
    padding-left:27px;
}
.fg{
    margin-right:1rem;
    margin-top:15rem;
}
@media (min-width:785px) and (max-width: 1048px){
    body,html{
      overflow-x: hidden;
      width:100vw;
  }
  .hero-title h1{
    font-size:1.9rem;
    margin-bottom:1rem;
  }
  .yyy{
    width:26%;
    height:30%;
    margin-left:2rem;
  }
  .yy{
    width:26%;
    height:30%;
    margin-left:2rem;
}
.fg {
    margin-right: 1rem;
    margin-top: 15rem;
    display:none !important;
}
}
@media (min-width: 547px) and (max-width:785px){
    body,html{
      overflow-x: hidden;
      width:100vw;
  }
  .hero-title h1{
    font-size:1.5rem;
    margin-bottom:1rem;
  }
  .yy{
    width:26%;
    height:30%;
    margin-left:2rem;
}
  .yyy{
    width:26%;
    height:30%;
    margin-left:2rem;
}
.fg {
    margin-right: 1rem;
    margin-top: 15rem;
    display:none !important;
}
}
@media (min-width:484px) and (max-width:547px){
    body,html{
        overflow-x: hidden;
        width:100vw;
    }
    .hero-title h1{
      font-size:1.5rem;
      margin-bottom:1.4rem;
    }
    .yy{
        width:29%;
        height:33%;
        margin-left:2rem;
    }
    .yyy{
        width:29%;
        height:33%;
        margin-left:2rem;
    }
    .fg {
        margin-right: 1rem;
        margin-top: 15rem;
        display:none !important;
    }
  }
  @media (min-width:0px) and (max-width:484px){
    body,html{
        overflow-x: hidden;
        width:100vw;
    }
    .hero-title h1{
      font-size:1.5rem;
      margin-bottom:1.4rem;
    }
    .yy{
        width:29%;
        height:33%;
        margin-left:2rem;
    }
    .yyy{
        width:29%;
        height:33%;
        margin-left:2rem;
  }
  .fg {
    margin-right: 1rem;
    margin-top: 15rem;
    display:none !important;
}
  }
