
.navbar{
    padding-top:16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    /* padding-bottom:2rem; */
    background-color:white;
    width:100vw;
    /* gap:15rem; */
    z-index:9999;
    /* justify-content: space-around; */
}
.logo-links{
    display: flex;
    align-items: center;
    margin-left:5rem;
    gap:6rem;
    width:100vw;
}

.logo{
    display: flex;
    flex-direction: column;
    margin-left:2rem;
}
.nav-links{
    justify-content: center;
    display: flex;
    gap:5rem;
    text-decoration: none;
    list-style:none;
    align-items: center;
    font-size:17px;
    width:50vw;
}
.menu-bar-toggle{
    display:none;
}
.menu-option{
    list-style:none;
    cursor:pointer;
    padding:1rem;
    transition: all 3s ease-in-out;
}
.menu{
    display: flex;
    justify-content: center;
    margin-right:4rem;
}
.line{
    /* width:35px; */
    height:3.2px;
    background-color: rgba(0, 0, 0, 0.922);
    border:none;
    
}

.a{
    text-decoration:none;
    color: black;
    position: relative;
    color: #626262;
    font-size:18px;
    transition: all 9s ease-in-out;
}

.a::after{
    content: '';
    width: 0;
    height:3px;
    background-color: rgba(0, 0, 0, 0.922);
    position: absolute;
    left:0;
    bottom: -6px;
    transition: 0.3s;
    border-radius:10px;
}


.a.active:hover::after {
    width: 0;
}

.a:hover::after {
    width: 100%;
}

.active::after {
    width: 100%;
}
  
  









.login-cart{
    display: flex;
    align-items: center;
    justify-content:end;
    gap:6px;
    margin-right:15rem;
    width:100vw;
}

.cart-icon:hover{
    color:rgba(0, 0, 0, 0.76);
    cursor:pointer;
    text-decoration: none;
    transform:scale(1.1);
}
.login-icon:hover{
    color:rgba(0, 0, 0, 0.76);
    cursor:pointer;
    text-decoration: none;
    transform:scale(1.1);
}
.linkkkk{
    text-decoration:none;
    color:white;
}
.navbar-number{
  width: 20px;
  height:20px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:-39px;
  margin-left:-25px;
  border-radius:11px;
  font-size:14px;
  background:rgba(0, 0, 0, 0.753);
  color:white;
  z-index:-9999;
}
@media (max-width: 918px) and (min-width:577px) {
    body,html{
      overflow-x: hidden;
      width:100vw;
  }
  .navbar{
    padding:16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    /* padding-bottom:2rem; */
    background-color:white;
    width:100vw;
    /* gap:15rem; */
    z-index:9999;
    
}
.logo-links{
    display: flex;
    align-items: center;
    gap:0rem;
    margin-left:0rem;
    width:10vw;
    
}

.a::after{
    content: '';
    width: 0;
    height:1px;
    background-color: rgba(255, 255, 255, 0.958);
    position: absolute;
    left:0;
    bottom: -6px;
    transition: 0.3s;
    border-radius:10px;
}


.a.active:hover::after {
    width: 0;
}

.a:hover::after {
    width: 100%;
}

.active::after {
    width: 100%;
}
  

.logo-saint{
    text-wrap:nowrap;
}
.login-cart{
    display: flex;
    align-items: center;
    justify-content:end;
    gap:2rem;
    margin-right:2rem;
}
.menuu{
    display: flex;
    align-items: center;
    margin-bottom:3px;
    margin-left:10px;
}
  .menu-bar-toggle {
    display: block;
    transition:2s;
    /* margin-bottom:30rem; */
    /* font-size:30px;
    width:100%;
    margin-top:15px; */
    /* position:fixed; */
    /* margin-right:41rem;
    margin-left:2rem; */
 }
  .svg-inline--fa {
    display: var(--fa-display, inline-block);
    height: 1.5em;
    overflow: visible;
    vertical-align: -0.125em;
    color: rgb(0, 0, 0);
}
.nav-links {
    display: none;
    align-items: center;
    margin-left:0rem;
    flex-direction: column;
    width: 100%;
    height:100%;
    position: absolute;
    top: 51px;
    left: 0;
    padding: 0;
    
  }

  /*
  .nav-links.open {
    display: flex;
    background-color:rgb(255, 255, 255);
    width:100vw;
    height:30rem; 
    
   }
*/

}


































/*------------------------------ Hamburger options ------------------------------- */
/*------------------------------ Hamburger options ------------------------------- */
/*------------------------------ Hamburger options ------------------------------- */



.hamburger_container, 
.Mobile_panel {
    display: none;
}






/* @media (min-width:577px) and (max-width: 918px) {

    .hamburger_container {
        display: flex;
        align-items: center;
        z-index: 100;
    }


    .hamburger {
        position: relative;
        display: block;
        width: 35px;
        cursor: pointer;
        appearance: none;
        background: none;
        outline: none;
        border: none;
        margin: 0;
        padding: 0;
        padding-top:3px;
    }


    .hamburger .bar, .hamburger:after, .hamburger:before {
        box-sizing: content-box;
        content: '';
        display: block;
        width: 25px;
        height: 2px;
        background-color: #000000;
        margin: 5px 0px;
        transition: 0.4s;
        z-index: 999;
        overflow-x: hidden;
        border-style: solid;
        border-width: 1px;
        border-color: #00000000;
        border-radius: 5px;
    }    


    .hamburger.is-active:before {
        transform: rotate(-45deg) translate(-8px, 6px);
    }

    .hamburger.is-active:after {
        transform: rotate(45deg) translate(-7px, -4px);
    }

    .hamburger.is-active .bar {
        opacity: 0;
        
    }

    .Mobile_panel {
        opacity:0;
        z-index:-999;
        height: 1300px;
        width: 100vh;
        display: flex;
        align-items: flex-end;
        margin: 0 auto;
        position: fixed;
        transition: opacity 0.3s ease-in-out;
    }


    .Mobile_panel.is-active {
        opacity: 1;
        z-index: 2;
    }

    .menu-items {
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 48.5%;
        padding-bottom:10rem;
        width: 100vw;
        padding-right:7rem;
        border-radius: 5px;
        z-index:-1;
    }

    .menu-option {
        font-weight: 100;
        margin-bottom: 25px;
    }
    .logo-saint{
        font-size:25px;
    }
    .login-cart{
        display: flex;
        align-items: center;
        justify-content:end;
        gap:2px;
        margin-right:2rem;
    }
    .navbar-number{
  width: 20px;
  height:20px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:-39px;
  margin-left:-18px;
  border-radius:11px;
  font-size:14px;
  background:rgba(0, 0, 0, 0.753);
  color:white;
  z-index:-9999;
}
.logo{
    display: flex;
    flex-direction: column;
    margin-left:-0 !important;
}

} */






@media (max-width: 577px){
    body,html{
        overflow-x: hidden;
        width:100%;
    }
    .navbar{
    padding-top:10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: fixed;
      /* padding-bottom:2rem; */
      background-color:white;
      width:100vw;
      /* gap:15rem; */
      z-index:9999;
      
  }
  .logo-links{
    display: flex;
    align-items: center;
    gap:0rem;
    margin-left:1rem;
    width:10vw;
    
}

.a::after{
    content: '';
    width: 0;
    height:1px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left:0;
    bottom: -6px;
    transition: 0.3s;
    border-radius:10px;
}


.a.active:hover::after {
    width: 0;
}

.a:hover::after {
    width: 100%;
}

.active::after {
    width: 100%;
}
  .login-cart{
      display: flex;
      align-items: center;
      justify-content:end;
      gap:9rem;
      margin-right:2rem !important;
  }
  .login-cart img{
    width:1.8rem;
  }
  .menuu{
      display: flex;
      align-items: center;
      margin-bottom:3px;
      margin-left:10px;
  }
    .menu-bar-toggle {
      display: block;
      transition:2s;
      /* margin-bottom:30rem; */
      /* font-size:30px;
      width:100%;
      margin-top:15px; */
      /* position:fixed; */
      /* margin-right:41rem;
      margin-left:2rem; */
   }
    .svg-inline--fa {
      display: var(--fa-display, inline-block);
      height: 1.5em;
      overflow: visible;
      vertical-align: -0.125em;
      color: rgb(0, 0, 0);
  }
  .nav-links {
      display: none;
      /* justify-content: center; */
      align-items: center;
      margin-left:0rem;
      
      flex-direction: column;
      width: 100%;
      height:100%;
      position: absolute;
      top: 51px;
      left: 0;
      padding: 0;
      
    }
    .nav-links.open {
      display: flex;
      background-color:rgb(255, 255, 255);
      /* width:10vw;
      height:50vh; */
      width:100vw;
      height:30rem;
      
  }
}






@media (max-width: 577px){
    .hamburger_container {
        display: flex;
        align-items: center;
        z-index: 100;
    }


    .hamburger {
        position: relative;
        display: block;
        width: 35px;
        cursor: pointer;
        appearance: none;
        background: none;
        outline: none;
        border: none;
        margin: 0;
        padding: 0;
        padding-top:3px;
    }


    .hamburger .bar, .hamburger:after, .hamburger:before {
        box-sizing: content-box;
        content: '';
        display: block;
        width: 25px;
        height: 2px;
        background-color: #000000;
        margin: 5px 0px;
        transition: 0.4s;
        z-index: 999;
        overflow-x: hidden;
        border-style: solid;
        border-width: 1px;
        border-color: #00000000;
        border-radius: 5px;
    }    


    .hamburger.is-active:before {
        transform: rotate(-45deg) translate(-8px, 6px);
    }

    .hamburger.is-active:after {
        transform: rotate(45deg) translate(-7px, -4px);
    }

    .hamburger.is-active .bar {
        opacity: 0;
    }

    .Mobile_panel {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        display: flex;
        align-items: flex-end;
        margin: 0 auto;
        position: fixed;
        width: 100vh;
        height: 1300px;
        z-index: -1;
        pointer-events: none;
    }

    .Mobile_panel.is-active {
        opacity: 1;
        z-index: 1;
        pointer-events: all;
    }


    .menu-items {
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 49%;
        padding-bottom:10rem;
        width: 100vw;
        padding-right:7rem;
        border-radius: 5px;
    }

    .menu-option {
        font-weight: 100;
        margin-bottom: 25px;
    }
    .login-cart{
        display: flex;
        align-items: center;
        justify-content:end;
        gap:1px;
        margin-right:4rem;
    }
    .navbar-number{
        width: 20px;
        height:20px;
        display:flex;
        justify-content: center;
        align-items: center;
        margin-top:-39px;
        margin-left:-18px;
        border-radius:11px;
        font-size:14px;
        background:rgba(0, 0, 0, 0.753);
        color:white;
    }
.logo{
    display: flex;
    flex-direction: column;
    margin-left:-0 !important;
}
.logo-saint{
    font-size:25px;
}
.login-cart{
    display: flex;
    align-items: center;
    justify-content:end;
    gap:6px;
    margin-right:4px;
}
.navbar-number{
    width: 18px;
    height:18px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:-37px;
    margin-left:-21px;
    border-radius:11px;
    font-size:14px;
    background:rgba(0, 0, 0, 0.753);
    color:white;
    z-index:-9999;
  }
}



