
.navbar{
    padding:16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    /* padding-bottom:2rem; */
    background-color:white;
    width:100vw;
    /* gap:15rem; */
    z-index:9999;
    /* justify-content: space-around; */
}
.logo-links{
    display: flex;
    align-items: center;
    gap:13rem;
}

.logo{
    display: flex;
    flex-direction: column;
    margin-left:2rem;
}
.nav-links{
    justify-content: center;
    display: flex;
    gap:4rem;
    text-decoration: none;
    list-style:none;
    align-items: center;
    font-size:17px;
}
.menu-bar-toggle{
    display:none;
}
.menu{
    display: flex;
    justify-content: center;
    margin-right:4rem;
}
.line{
    /* width:35px; */
    height:3.2px;
    background-color: rgba(0, 0, 0, 0.922);
    border:none;
    
}

.a{
    text-decoration:none;
    color: black;
    position: relative;
    color: #626262;
    font-size:18px;
}

.a::after{
    content: '';
    width: 0;
    height:3px;
    background-color: rgba(0, 0, 0, 0.922);
    position: absolute;
    left:0;
    bottom: -6px;
    transition: 0.3s;
    border-radius:10px;
}


.a.active:hover::after {
    width: 0;
}

.a:hover::after {
    width: 100%;
}

.active::after {
    width: 100%;
}
  
  









.login-cart{
    display: flex;
    align-items: center;
    justify-content:end;
    gap:2rem;
    margin-right:2rem;
}
.cart-icon:hover{
    color:rgba(0, 0, 0, 0.76);
    cursor:pointer;
    text-decoration: none;
    transform:scale(1.1);
}
.login-icon:hover{
    color:rgba(0, 0, 0, 0.76);
    cursor:pointer;
    text-decoration: none;
    transform:scale(1.1);
}
@media (max-width: 1025px) {
    body,html{
      overflow-x: hidden;
      width:100%;
  }
  .navbar{
    padding:16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    /* padding-bottom:2rem; */
    background-color:white;
    width:100vw;
    /* gap:15rem; */
    z-index:9999;
    
}
.logo-links{
    display: flex;
    align-items: center;
    gap:15rem;
}
.logo-links{
    display: flex;
    align-items: center;
    gap:0rem;
}
.login-cart{
    display: flex;
    align-items: center;
    justify-content:end;
    gap:2rem;
    margin-right:2rem;
}
.menuu{
    display: flex;
    margin-left:2rem;
}
  .menu-bar-toggle {
    display: block;
    transition:2s;
    /* margin-bottom:30rem; */
    /* font-size:30px;
    width:100%;
    margin-top:15px; */
    /* position:fixed; */
    /* margin-right:41rem;
    margin-left:2rem; */
 }
  .svg-inline--fa {
    display: var(--fa-display, inline-block);
    height: 1.5em;
    overflow: visible;
    vertical-align: -0.125em;
    color: rgb(0, 0, 0);
}
.nav-links {
    display: none;
    /* justify-content: center; */
    align-items: center;
    margin-left:0rem;
    
    flex-direction: column;
    width: 100%;
    height:100%;
    position: absolute;
    top: 51px;
    left: 0;
    padding: 0;
    
  }
  .nav-links.open {
    display: flex;
    background-color:rgb(255, 255, 255);
    /* width:10vw;
    height:50vh; */
    width:100vw;
    height:30rem;
    
}

}


































/*------------------------------ Hamburger options ------------------------------- */
/*------------------------------ Hamburger options ------------------------------- */
/*------------------------------ Hamburger options ------------------------------- */



.hamburger_container, 
.Mobile_panel {
    display: none;
}


@media (max-width: 768px) {

    .hamburger_container {
        display: flex;
        align-items: center;
        z-index: 100;
    }


    .hamburger {
        position: relative;
        display: block;
        width: 35px;
        cursor: pointer;
        appearance: none;
        background: none;
        outline: none;
        border: none;
        margin: 0;
        padding: 0;
    }


    .hamburger .bar, .hamburger:after, .hamburger:before {
        box-sizing: content-box;
        content: '';
        display: block;
        width: 25px;
        height: 2px;
        background-color: #3a3a3a;
        margin: 5px 0px;
        transition: 0.4s;
        z-index: 999;
        overflow-x: hidden;
        border-style: solid;
        border-width: 1px;
        border-color: #00000000;
        border-radius: 5px;
    }    



    .hamburger.is-active:before {
        transform: rotate(-45deg) translate(-8px, 6px);
    }

    .hamburger.is-active:after {
        transform: rotate(45deg) translate(-7px, -4px);
    }

    .hamburger.is-active .bar {
        opacity: 0;
    }

    .Mobile_panel {
        opacity: 0;
        height: 1200px;
        width: 100vh;
        display: flex;
        align-items: flex-end;
        margin: 0 auto;
        position: fixed;
        transition: opacity 0.3s ease-in-out;
    }


    .Mobile_panel.is-active {
        opacity: 1;
    }

    .menu-items {
        background-color: rgb(238, 238, 238);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 45%;
        width: 52%;
        border-radius: 5px;
    }

    .menu-option {
        font-weight: 100;
        margin-bottom: 25px;
    }

}



