
.navbar{
    padding:16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    /* padding-bottom:2rem; */
    background-color:white;
    width:100vw;
    /* gap:15rem; */
    z-index:9999;
}

.logo{
    display: flex;
    flex-direction: column;
    margin-left:2rem;
}
.nav-links{
    justify-content: center;
    display: flex;
    gap:4rem;
    text-decoration: none;
    list-style:none;
    align-items: center;
    font-size:17px;
}
.line{
    /* width:35px; */
    height:3.2px;
    background-color: rgba(0, 0, 0, 0.922);
    border:none;
    
}

.a{
    text-decoration:none;
    color: black;
    position: relative;
    color: #626262;
    font-size:18px;
}

.a::after{
    content: '';
    width: 0;
    height:3px;
    background-color: rgba(0, 0, 0, 0.922);
    position: absolute;
    left:0;
    bottom: -6px;
    transition: 0.3s;
}


.a.active:hover::after {
    width: 0;
}

.a:hover::after {
    width: 100%;
}

.active::after {
    width: 100%;
}
  
  









.login-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
    /* margin-left:15rem; */
}
.cart-icon:hover{
    color:rgba(0, 0, 0, 0.76);
    cursor:pointer;
    text-decoration: none;
    transform:scale(1.1);
}
.login-icon:hover{
    color:rgba(0, 0, 0, 0.76);
    cursor:pointer;
    text-decoration: none;
    transform:scale(1.1);
}
