.now-shop{
    padding-top:5rem;
}
.location{
    display: flex;
    align-items: center;
    gap:3px;
    margin-left:10px;
    cursor: pointer;
}
.shop-p{
    color: #5e5e5e;
}
.home-div,.shop-div{
    display: flex;
    align-items: center;
    gap:1px; 
    font-weight:650;  
}
.home-div>a{
    text-decoration:none;
    color:rgba(0, 0, 0, 0.986);
}
.shop-div>a{
    text-decoration:none;
    color:rgba(0, 0, 0, 0.544);
}
.home-div>a:hover{
    color:rgba(0, 0, 0, 0.426);
}
.started-shop{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.title-cat h1{
    text-align: center;
    color: #5e5e5e;
    font-size:24px;
}
.shoppp{
    font-size:25px;
    color: rgba(0, 0, 0, 0.775);
}
.switchs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20vw;
    padding-bottom:2rem;
    padding-top:2rem;
}
.switchs-images{
    /* padding-top:30px; */
    display: flex;
    align-items: center;
    gap:6rem;
    margin-left:5rem;

}
/* .switchs-images img{
    height:25vw;
    width:25vw;
} */
.womennn{
    height:26vw;
    width:20vw;
    border:solid 1px black;
    background-color:rgba(193, 191, 191, 0);
}
.menn{
    height:27vw;
    width:13vw;
    padding:1rem;
    background-color:rgba(193, 191, 191, 0);
    border:solid 1px black;

}
.mennn{
    height:20vw;
    width:20vw;
    padding-left:1rem;
    border:solid 1px black;
    background-color:rgba(193, 191, 191, 0);
}
.hover-image:hover{
    background-color: #00000039;
    transform:scale(1.1);
}
.shoppp{
    /* padding-top:4rem; */
    color: rgba(0, 0, 0, 0.775);
    padding:5px;
    border-radius:5px;
}
.switchs button{
    border-radius:10px;
    border:none;
}
@media (max-width:667px) and (min-width:0px){
    .location-p{
        font-size:2.5vw;
    }
    .title-cat h1{
        text-align: center;
        color: #5e5e5e;
        font-size:3.2vw;
        padding-bottom:20px;
        padding-top:20px;
    }
    .shoppp{
        font-size:4vw;
        color: rgba(0, 0, 0, 0.775);
    }
    .started-shop{
        display: flex;
        flex-direction:row;
        align-items:center;
        justify-content: center;
    }
    .switchs{
        display:none;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
        gap:35vw;
        padding-bottom:2rem;
        padding-top:7rem;
    }

    .switchs-images{
        /* padding-top:30px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:2vw;
        margin-left:0rem;
    
    }
    .menn {
        height:30rem;
        width: 15rem;
        padding: 1rem;
        background-color: rgba(193, 191, 191, 0);
        border: solid 1px black;
    }
    .womennn {
        height:25rem;
        width: 15rem;
        border: solid 1px black;
        background-color: rgba(193, 191, 191, 0);
    }
    .mennn {
        height:22rem;
        width: 15rem;
        padding-left: 1rem;
        border: solid 1px black;
        background-color: rgba(193, 191, 191, 0);
    }
}

