.now-shop{
    padding-top:5rem;
}
.location{
    display: flex;
    align-items: center;
    gap:3px;
    margin-left:10px;
    cursor: pointer;
}
.shop-p{
    color: #5e5e5e;
}
.home-div,.shop-div{
    display: flex;
    align-items: center;
    gap:1px; 
    font-weight:650;  
}
.home-div>a{
    text-decoration:none;
    color:rgba(0, 0, 0, 0.986);
}
.shop-div>a{
    text-decoration:none;
    color:rgba(0, 0, 0, 0.544);
}
.home-div>a:hover{
    color:rgba(0, 0, 0, 0.426);
}
.started-shop{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.started-shop h1{
    color: #5e5e5e;
    font-size:24px;
}
.shoppp{
    font-size:25px;
    color: rgba(0, 0, 0, 0.775);
}
.switchs{
    display: flex;
    align-items: center;
    gap:21rem;
    padding-bottom:2rem;
    padding-top:2rem;
}
.switchs-images{
    /* padding-top:30px; */
    display: flex;
    align-items: center;
    gap:7rem;
    margin-left:5rem;

}
/* .switchs-images img{
    height:25vw;
    width:25vw;
} */
.womennn{
    height:26vw;
    width:20vw;
    border:solid 1px black;
    background-color:rgba(193, 191, 191, 0);
}
.menn{
    height:27vw;
    width:13vw;
    padding:1rem;
    background-color:rgba(193, 191, 191, 0);
    border:solid 1px black;

}
.mennn{
    height:20vw;
    width:20vw;
    padding-left:1rem;
    border:solid 1px black;
    background-color:rgba(193, 191, 191, 0);
}
.hover-image:hover{
    background-color: #00000039;
    transform:scale(1.1);
}
.shoppp{
    /* padding-top:4rem; */
    color: rgba(0, 0, 0, 0.775);
    padding:5px;
    border-radius:5px;
}
.switchs button{
    border-radius:10px;
    border:none;
}

