.service{
    width:100%;
    padding-top:5rem;
}
.titles{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.ser{
    color: rgba(0, 0, 0, 0.601);
}
.cat{
    color: rgba(0, 0, 0, 0.601);
}
.link-cat{
 text-decoration:none;
 color: black;
}
.category{
    /* margin-top:5rem; */
    margin-left:8rem;
}
.hkkk{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.lol{
    margin-top:19rem;
}


.men{
    display: flex;
    flex-direction: column;
}
.women{
    display: flex;
    flex-direction: column;
    align-items:end;
    margin-right:10rem;

}

.kids{
    display: flex;
    flex-direction: column;
    /* align-items: end; */
}
.kids h2{
    
}
.rw{
    align-items: end;
    justify-content: end;
}
.lll>img,.women>img,.link-cat>img{
    height:15rem;
    width:14rem;
    border:solid rgba(0, 0, 0, 0.258) 1px;
    padding:10px;
    border-radius:20px;
}
.lll{
    display: flex;
    /* align-items: center; */
    gap:2rem;
}
.p-men1{
    width:20%;
    /* margin-top:30px; */
}
.p-men2{
    width:20%;
    margin-bottom:1rem;
}
.p-men3{
    width:25%;
    margin-top:3px;
}
.btns{
    display: flex;
    align-items: center;
    border:solid black 1px;
    border-radius:20px;
    width:9rem;
    height:2.2rem;
    padding:3px;
    padding-top:8px;
    padding-bottom:8px;
    gap:6px;
    justify-content: center;
    color:black;
    background-color:white;
    /* border:none; */
    cursor: pointer;
    margin-top:10px;
    font-style:inherit;

}


.btns p{
    font-size:18px;
    color:black;
    margin-left:1rem;
}
.aaa,.ss{
    width:70px;
    height:2px;
    color:black;
    border:none;
    background-color:black;
    border-radius:10px;
    margin-top:5px;
    margin-right:20px;
}
.ab{ width:70px;
    height:1.5px;
    color:black;
    border:none;
    /* background-color:white; */
    border-radius:10px;
    margin-top:5px;
    }
.btns:hover{
    .aaa{
        font-size:90px;
        width:60px;
        transition:0.1s;
    
    }
    
}
.shop-btn{
    width:5rem;
    border-radius:10px;
    border:solid rgba(43, 43, 43, 0.59);
    display: flex;
    align-items: center;
}
.img-line{
    color:black;
    /* width:50px;
    height:40px; */

}
.aaaa{
    text-decoration: none;
    color:black;
}

.tc-container {
  position: relative;
}

.top-img{
    position: absolute;
    left:0;
    top:0;
    opacity:0;
    transition: all .7s ease;
}
.top-img:hover{
    opacity:1;
    background-color:white;

}
.linkk{
    text-decoration:none;
    color:white;
}

.jtt{
    display:flex;
}
.llllf{
    margin-right:2rem;
    margin-top:17rem;
}
.llllf:hover{
    transform:scale(1.1);
}
