.navbar{
    padding:16px;
    margin-top:1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.logo{
    display: flex;
    flex-direction: column;
}
.nav-links{
    display: flex;
    gap:2rem;
    text-decoration: none;
    list-style:none;
    color: #626262;
    align-items: center;
    font-size:17px;
}
.line{
    /* width:35px; */
    height:3.2px;
    background-color: rgba(0, 0, 0, 0.922);
    border:none;
    
}
.a{
    text-decoration:none;
    color: black;
    position: relative;
}
.a::after{
    content: '';
    width: 0;
    height:3px;
    background-color: rgba(0, 0, 0, 0.922);
    position: absolute;
    left:0;
    bottom: -6px;
    transition:0.3s;
}
.a:hover::after{
    width:100%;
}
.link {
    color: blue; /* Normal link color */
    text-decoration: none;
  }
  
  .link:hover {
    color: green; /* Hover color */
  }
  
  .clicked {
    color: red; /* Clicked link color */
  }
  
  .link.clicked ~ .link {
    pointer-events: none;
    color: gray; /* Optional: change color of non-clickable links */
  }
  
  


