.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:15px 60px;
    box-shadow:0 1px 3px -2px #000;
    margin-bottom:1px;
    background:white;
}
.logo-saint{
    font-size:22px;
}
.navprofile{
    width:50px;
    height:auto;
}
@media (max-width:800px){
    .navbar{
        padding:15px 30px;
    }
    .logo-saint{
        font-size:18px;
    }
    .navprofile{
        width:50px;
        height:auto;
    }
}